{% extends "layout.html" %}

{% block content %}

<h2>All Expenses</h2>

<table border="1">

<tr>
<th>Title</th>
<th>Amount</th>
<th>Category</th>
<th>Date</th>
<th>Action</th>
</tr>

{% for exp in expenses %}

<tr>
<td>{{ exp.title }}</td>
<td>₹{{ exp.amount }}</td>
<td>{{ exp.category }}</td>
<td>{{ exp.date }}</td>

<td>
<a href="/delete/{{ loop.index0 }}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

<h3>Total Expense: ₹{{ total }}</h3>


<h2>Expense Chart</h2>

<canvas id="chart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const data = {
labels: {{ categories.keys()|list }},
datasets: [{
data: {{ categories.values()|list }}
}]
};

new Chart(document.getElementById("chart"), {
type: 'pie',
data: data
});

</script>

{% endblock %}